@page
@model PharmaStockManager.Areas.Identity.Pages.Account.AccessDeniedModel
@{
    ViewData["Title"] = "Access Denied";
}

<h1>Access Denied</h1>
<p>You do not have permission to access this resource.</p>
<a asp-area="" asp-controller="Home" asp-action="Index">Return to Home</a>
