@model PharmaStockManager.Models.Permissions

@{
    ViewData["Title"] = "Edit Permissions";
}

<h2>İzinleri Düzenle</h2>

<form asp-action="EditPermissions" method="post">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Permission</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td>Edit Stocks</td>
                    <td>
                        <div class="form-check form-switch">
                            <input type="hidden" asp-for="UserID" />
                            <input class="form-check-input" type="checkbox" asp-for="EditStocks" />
                            <label class="form-check-label" for="EditStocks">Allow</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Stock In</td>
                    <td>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" asp-for="StockIn" />
                            <label class="form-check-label" for="StockIn">Allow</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Stock Out</td>
                    <td>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" asp-for="StockOut" />
                            <label class="form-check-label" for="StockOut">Allow</label>
                        </div>
                    </td>
                </tr>
        </tbody>
    </table>

    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
